<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>105資料結構TA課</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom style -->
    <link rel="stylesheet" href="./main.css">
</head>
<body>

    <div class="container">
        <div class="navbar">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" v-for="navItem in navItems">
                        <a href="{{ navItem.href }}">{{ navItem.name }}</a>
                    </li>
                </ul>
                <div>
                    <h2>{{ title }}</h2>
                </div>
            </nav>
        </div>
        
        <!-- 最新消息 -->
        <div class="news">
            <div class="page-header">
                <h1>TA課公告</h1>
            </div>
            <ul>
                <li v-for="new in news" style="display: block;">
                    <p>
                        <span class="new" v-show="new.isNew">NEWS!!</span>
                        {{ new.content }}
                    </p>
                </li>
                <li style="display: block;">
                    <p>
                        TA課地點BGC601，上課時間 19:00 ~ 21:00。
                    </p>
                </li>
                <li style="display: block;">
                    <p>
                        請大家踴躍參加<a href="https://cpe.cse.nsysu.edu.tw/">CPE</a>、<a href="https://sites.google.com/site/itsancku/shou-ye">ITSA</a>程式競賽。
                    </p>
                </li>
            </ul>
        </div>
        
        <!-- 每週進度 -->
        <div class="schedule">
            <div class="page-header">
                <h1>課程進度</h1>
            </div>
            <div class="col-md-6">
                <h1>{{ schedule1.title }}</h1>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" 
                         role="progressbar" 
                         aria-valuenow="{{ schedule1.pro }}" aria-valuemin="0" aria-valuemax="100" 
                         v-bind:style="{width: schedule1.pro+'%'}">
                        {{ schedule1.pro }}%
                    </div>
                </div>
                {{ progress }}
                <ul>
                    <li v-for="s1 in schedule1.weeks">
                        <h3>{{ s1.w }}</h3>
                        <p v-if="s1.content">{{ s1.content }}</p>
                        <p><a href="{{ ppt.href }}" v-for="ppt in s1.ppt" v-if="ppt.name">{{ ppt.name }}</a></p>
                        <p><a href="{{ demo.href }}" v-for="demo in s1.demo" v-if="demo.name">{{ demo.name }}</a></p>
                        <p><a href="{{ homework.href }}" v-for="homework in s1.homework" v-if="homework.name">{{ homework.name }}</a></p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h1>{{ schedule2.title }}</h1>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" 
                         role="progressbar" 
                         aria-valuenow="{{ schedule2.pro }}" aria-valuemin="0" aria-valuemax="100" 
                         v-bind:style="{width: schedule2.pro+'%'}">
                        {{ schedule2.pro }}%
                    </div>
                </div>
                <ul>
                    <li v-for="s2 in schedule2.weeks">
                        <h3>{{ s2.w }}</h3>
                        <p v-if="s2.content">{{ s2.content }}</p>
                        <a href="{{ ppt.href }}" v-for="ppt in s2.ppt" v-if="ppt.name">{{ ppt.name }}</a>
                        <a href="{{ demo.href }}" v-for="demo in s2.demo" v-if="demo.name">{{ demo.name }}</a>
                        <a href="{{ homework.href }}" v-for="homework in s2.homework" v-if="homework.name">{{ homework.name }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- footer -->
        <div class="col-md-12 footer">
            <p>對網頁開發、行動應用App開發、網路管理有興趣的同學，請洽Lab318</p>
            <p>&copy; 行動應用與軟體工程實驗室</p>
        </div>
    </div>

    <script src="http://vuejs.org/js/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.2/vue-resource.min.js"></script>
    <script src="./main.js"></script>
</body>
</html>